<nav class="navbar navbar-default event-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand event-navbar-content" href="/">Korup Begivenheder</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav ">
        <% if page == "home" %>
          <li class="active"><a href="/" class="event-navbar-content">Hjem <span class="sr-only">(current)</span></a></li>
          <li><a href="/about">Om</a></li>
        <% elsif page == "about" %>
        <li><a href="/">Hjem <span class="sr-only">(current)</span></a></li>
        <li class="active" ><a href="/about" class="event-navbar-content">Om</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
