<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tillykke!</title>
  </head>
  <body>
    <div class="container">
      <h1>Tillykke du har nu indsendt din begivenhed!</h1><br>
      
    </div>
  </body>
</html>
